@import "@lumir-company/design-system-v0/styles/tailwind.css";

/* TabBar 관련 스타일 */
:root {
  --tab-bar-height: 48px;
}

/* TabBar 스크롤바 숨김 스타일 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
